
section {
height : 36vh;
width : 100%;
position:releative;
display:flex;
background-color: #1A0087
}
.Life{
Justify-content: left;
align-content: bottom; 

}
.Times{
aspect-ratio: 5/3;
width: 80%;
display:grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(3,1fr);
gap: 2px;
background-color:grey;
margin: 2%
}

.Life-text{
font-family: Satoshi,sans-serif;
Font-size:28cqi;
font-weight: 600;
color:#EFE0D4
}
